body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game-container {
  width: 500px;
  height: 500px;
  padding: 15px;
  background-color: #524b4b;
  box-sizing: border-box;
  border-radius: 5px;
}

.game-container__field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
}

.game-container__cell_title {
  border-radius: 3px;
  width: 106.25px;
  height: 106.25px;
  line-height: 106px;
  font-size: 50px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  background: rgba(238, 228, 218, 0.35);
}

.game-container__scores-title {
  margin-bottom: 10px;
}

.game-container__scores-counter {
  font-size: 25px;

}

.game-container__cell_title_2 {
  background-color: beige;
}

.game-container__cell_title_4 {
  background-color: rgb(247, 219, 172);
}
.game-container__cell_title_8 {
  background-color: rgb(252, 195, 96);
}
.game-container__cell_title_16 {
  background-color: rgb(214, 136, 0);
}
.game-container__cell_title_32 {
  background-color: rgb(255, 123, 15);
}

.game-container__cell_title_64 {
  background-color: rgb(218, 80, 0);
}

.game-container__cell_title_128 {
  background-color: rgb(233, 213, 34);
}

.game-container__cell_title_256 {
  background-color: rgb(212, 192, 12);
}

.game-container__cell_title_512 {
  background-color: rgb(199, 212, 12);
}
